/************   .custom-all-recipes    ************/

.custom-all-recipes .field--label-inline {
  display: flex;
}

.custom-all-recipes .field__item {
  display: inline;
  flex-basis: 1;
  padding-right: 0.7em;
}

.custom-all-recipes .views-row article {
  height: 100%;
  padding: 0;
}

.custom-all-recipes .image_and_bookmark { 
  grid-area: one; 
}

.custom-all-recipes .image_and_bookmark img:hover {
  width:100%;
  height:100%;
  /* position:absolute; */
  background-color:#000;
  opacity:0.5;
}

.custom-all-recipes .categories_types_title { 
  margin: 0 10px;
  grid-area: two; 
}
.custom-all-recipes .content_custom { 
  margin: 0 10px;
  grid-area: three; 
}

.custom-all-recipes .node__content {
  display: grid;
  grid-template-areas:
    'one two'
    'one three';
  grid-gap: 0 10px 0 0;
}

.custom-all-recipes .field--name-body p {
  font-size: 16px;
}

.custom-all-recipes .form-search {
  width: 249px;
  height: 40px;
  font-size: medium;
  font-style: italic;
}

.custom-all-recipes .field--name-field-image{
  padding: 0;
}

.custom-all-recipes .field--name-field-image a {
  display: grid;
}